body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    border:1px solid #000000;
}
img.profileImg{
    text-align: center;

}
.thumbnail img{
    height: 200px;
}
p a.btn-link{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color .3s ease;
}
p a.btn-link:hover{
    text-decoration: none;
    color: #000;
}